<div class="card m-3">
    <div class="card-header">
        <h4>Filtrar blogs</h4>
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="searchBlogForm" (ngSubmit)="searchBlog()">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="search">Ingresa filtro de búsqueda</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="search" name="search" formControlName="search" placeholder="Ingresa un título, autor o contenido" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </div>
        </form>
    </div>
</div>
<div class="card m-3">
    <div class="card-header">
        <div>
            <h4>Listado de blogs</h4>
        </div>
    </div>
    <div class="card-body">
        <a class="btn btn-success" routerLink="/add-blog" aria-current="page">Registrar blog</a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Contenido</th>
                        <th scope="col">Fecha publicación</th>
                        <th scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let blog of Blogs; let iControl=index">
                        <td scope="row">{{ blog.id }}</td>
                        <td scope="row">{{ blog.titulo }}</td>
                        <td scope="row">{{ blog.autor }}</td>
                        <td scope="row">{{ blog.contenido.substring(0, 69) }}</td>
                        <td scope="row">{{ blog.fecha_publicacion }}</td>
                        <td scope="row"><a routerLink="/get-blog/{{ blog.id }}">Ver</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>