<div class="card">
    <div class="card-header">
        Blog información
    </div>
    <div class="card-body">
        <form [formGroup]="getBlogForm" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <div class="input-group">
                            <input formControlName="titulo" type="text" class="form-control" id="titulo" name="titulo" placeholder="Ingresa un título">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="autor">Autor</label>
                        <div class="input-group">
                            <input formControlName="autor" type="text" class="form-control" id="autor" name="autor" placeholder="Ingresa un autor">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <div class="input-group">
                            <input formControlName="fecha" type="date" class="form-control" id="fecha" name="fecha">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb3">
                    <div class="form-group">
                        <label for="contenido">Contenido</label>
                        <div class="input-group">
                            <textarea formControlName="contenido" class="form-control" id="contenido" name="contenido" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Regresar al listado
    </div>
</div>
