<div class="card">
    <div class="card-header">
        Agregar blog
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="addBlogForm" (ngSubmit)="addBlog()">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo" placeholder="Ingresa un título" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="autor">Autor</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="autor" name="autor" formControlName="autor" placeholder="Ingresa un autor" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="fecha" name="fecha" formControlName="fecha" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb3">
                    <div class="form-group">
                        <label for="contenido">Contenido</label>
                        <div class="input-group">
                            <textarea class="form-control" id="contenido" name="contenido" rows="3" formControlName="contenido" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 my-3">
                <button type="submit" class="btn btn-primary mb-2">Agregar</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        <a class="btn btn-danger" routerLink="/get-list-blog" aria-current="page">Regresar al listado</a>
    </div>
</div>
